
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 0;
}

ul li {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    justify-content: space-between;
}